DATABASE_URL=postgresql://postgres:947ef2574f40bb6e63e51bda14547bdd@p7w4huj5.us-east.database.insforge.app:5432/insforge?sslmode=require
JWT_SECRET=kiridev_jwt_secret_marcacion_2026_super_secure
INSFORGE_URL=https://9bc8pwrr.us-east.insforge.app
INSFORGE_API_KEY=ik_6fff462b006815d5836170080d3122c3
FRONTEND_URL=https://marcacion.matias-automatization.online
PORT=3001
NODE_ENV=production
